@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
	background: url('../img/bg.png');
	min-width: 960px;
}

section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.is-hidden {
    display: none;
}

.readme-page,
.start {
	text-align: center;
}

.title,
.readme-btn,
.readme {
	margin: 40px 0;
}

.single-game-stage {
	width: 960px;
	margin: 0 auto;
}

.single-game-stage > li {
    float: left;
    width: 120px;
    height: 160px;
    margin: 0 20px 16px 0;
    background-image: url("../img/card/reverse.png");
    background-repeat: no-repeat;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: .9s;
    transition: .9s;
    list-style: none;
}

.single-game-stage li:nth-child(7n) {
	margin-right: 0;
}

.single-game-stage li:nth-child(15) {
	margin-left: 70px;
}

.btn img:hover {
	cursor: pointer;
}

.boxContainer {
	width: 960px;
	margin: 0 auto;
	color: #fff;
	font-family: Arial, sans-serif;
}

.time,
.hint-stage,
.explanation-stage {
	float: left;
}

.time {
	margin: 20px 0 0 0px;
	width: 188px;
	height: 110px;
	background: url('../img/time.png') no-repeat;
	position: relative;
}

.watch {
	position: absolute;
	top: 34px;
	left: 50px;
	font-size: 40px;
}

.hint-stage {
	margin: 20px 0 20px 9px;
	width: 377px;
	height: 110px;
	background: url('../img/hint.png') no-repeat;
	position: relative;
}

.hint {
	width: 320px;
	position: absolute;
	top: 30px;
	left: 44px;
}

.correct,
.incorrect {
	text-align: center;
	margin: 150px 0;
}

.explanation-stage {
	margin: 20px 0 20px 9px;
	width: 377px;
	height: 110px;
	background: url('../img/kaisetsu.png') no-repeat;
	position: relative;
}

.explanation {
	width: 320px;
	position: absolute;
	top: 24px;
	left: 44px;
}

.single-result {
	text-align: center;
	position: relative;
}

.result-time-stage {
	font-size: 45px;
	position: absolute;
	top: 56%;
	left: 47%;
	color: #fff;
}

.reset-btn {
	margin: 0 auto;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	background: #00aaff;
	box-shadow: 0 4px 0 #0088cc;
	cursor: pointer;
	color: #fff;
	font-family: Arial, sans-serif;
}

.reset-btn:hover {
	opacity: 0.8;
}

.reset-btn.pushed {
	margin-top: 32px;
	box-shadow: 0 2px 0 #0088cc;
}